/*Plik stylów wczytywany po bootstrapowym - Wczytywany po bootstrap.css*/

// KOLORY:
// Kolor tekstu nakładany - używany na kolorowych paskach lokalizacji - terminu
$kolorNakladany: #fff; //Teraz biały

// Tło wydarzenia:
$tloWydarzenia: #eee; //lekko szary

// Standardowy kolor tła div.termin na liście wydarzeń (normalnie się nie wyświetla bo jest pobierany kolor na podstawie lokalizacji wydarzenia)
$tloStandardDivTermin: #ccc;

// USTAWIENIA SZEROKOŚCI, ODSTĘPÓW
//używane w wydarzenia.php
$padding-kolumny: 15px; //Wartość aktualnie nieużywana (na podstawie ustawień bootstrap) - potrzebna do wyliczania szerokości elementów wpisu "wydarzenie" na liście wydarzeń
$wydarzenie-height: 150px; //Wysokość paska wydarzenia przy wielkościach md i lg (przy mniejszych same się dostosowują)
$wydarzenie-thumb-width: 150px; //Szerokośc obrazka thumb na liście wydarzeń
$wydarzenie-thumb-height: 150px; //Wysokość obrazka thumb na liście wydarzeń
$wydarzenie-termin-dzien-width: 120px; //Szerokość jednej kolumny (np. dnia lub godziny) w części terminu wydarzenia
$wydarzenie-termin-dzien-height: 100px; //Wysokość kolumny (dnia i godziny) w części terminu wydarzenia
$margines-bledu: 15px; //Margines "błędu" do obliczania szerokości elementów na liście wydarzeń
$wydarzenia-odleglosc-na-liscie: 15px; //Odległość pomiędzy wpisami poszczególnych wydarzeń na liście wydarzeń


@import "compass/utilities/general/clearfix";

// Użycie czcionki Magra
body{
	font-family: 'Magra', sans-serif;
	font-weight:400;	/*also loaded 700 for bold*/
	font-size: 1.7em; /*zwiększenie czcionki*/
	color: #333;
}

h1,h2,h3,h4,h5,h6{
	font-weight: 700;
}

// WIELKOŚĆ CZCIONEK
h2{
	font-size: 110%;
}

/*================MEDIA QUERIES za pomocą sass==================================*/
// zdefiniowanie punktów brzegowych - takich jak w bootstrap
$xxs: 400px; //Dodatkowy punkt brzegowy - względem bootstrap
$xs: 768px;
$sm: 992px;
$md: 1200px;

// Mamy zatem zakresy, których możemy używać:
// 		xxs <400px
// 400px <= xs < 768px
// 768px <= sm < 992px
// 992px <= md < 1200px
// 1200px < lg

// Działa tak jak col w bootstrap, czyli jeśli zdefiniujemy np coś dla wielkości tylko xs, a dla większych nie
// To dla tych większych też będzie działać


@mixin MQ($screen){
	@if $screen == lg{
		@media only screen and (min-width: $md){ @content; }
	}
	@else if $screen == md{
		@media only screen and (min-width: $sm){ @content; }
	}
	@else if $screen == sm{
		@media only screen and (min-width: $xs){ @content; }
	}
	@else if $screen == xs{
		@media only screen and (min-width: $xxs){ @content; }
	}
	@if $screen == xxs{
		 @content;
	}
	
}

// Przykład użycia MQ:
// ------------------------
//tutaj jakiś standardowy styl, dla rozdzielczości mniejszej niż $xxs

// @include MQ(xs){
//	// styl dla rodzielczości większej niż $xxs
// 	background-color: blue;
// }

// @include MQ(sm){
//	// styl dla rodzielczości większej niż $xs
// 	background-color: red;
// }

// @include MQ(md){
//	// styl dla rodzielczości większej niż $sm
// 	background-color: green;
// }

// @include MQ(lg){
//	// styl dla rodzielczości większej niż $md
// 	background-color: yellow;
// }

/*================koniec MEDIA QUERIES za pomocą sass===========================*/

/*================WYDARZENIA==================================*/

// Klasa trzech wyróżników ("kółek") na stronie wydarzeń
.wyrozniki{
	margin: 5em 0 5em 0;
	text-align: center;
}


// Wycentrowanie obrazka w carousel
.carousel-inner img {
  margin: auto;
}


article.wydarzenie{
	// Element (wpis) listy wydarzeń na stronie wydarzenia
	@include clearfix;
	background-color: $tloWydarzenia;
	margin-top: $wydarzenia-odleglosc-na-liscie;

	// Dla rozmiarów xxs, xs, sm części .lewa i .prawa są i tak na całą szerokość article.wydarzenie
	// Dla rozmiarów lg i md zaczynają tworzyć pasek i wtedy dopiero używane są szerokości odpowiednich sekcji w pikselach

	//Wyliczenie szerokości elementów dla ekranów o szerokości większej niż md
	//Wyliczenie szerokości div.prawa:

	// $padding-kolumny: 15px; //Wartość aktualnie nieużywana (na podstawie ustawień bootstrap) - potrzebna do wyliczania szerokości elementów wpisu "wydarzenie" na liście wydarzeń
	// $wydarzenie-thumb-width: 150px; //Szerokośc obrazka thumb na liście wydarzeń
	// $wydarzenie-termin-dzien-width: 120px; //Szerokość jednej kolumny (np. dnia lub godziny) w części terminu wydarzenia
	// $margines-bledu: 5px; //Margines "błędu" do obliczania szerokości elementów na liście wydarzeń

	$prawa-width: 2 * $wydarzenie-termin-dzien-width + $wydarzenie-thumb-width + $margines-bledu;

	//Wyliczenie szerokości div.lewa:
	//Wyliczane dla szerokości $md (z uwzględnieniem, że część na wydarzenia zajmuje 3/4 szerokości i biorąc pod uwagę padding)
	$lewa-width: ($md - 4 * $padding-kolumny) * 3/4 - $prawa-width - $margines-bledu;
 
	div.lewa{
		width: 100%;
		padding: 5px 10px 5px 0;

		@include MQ(md){
			width: $lewa-width;
			float: left;
		}

		h2{
			margin-top: 0;
		}
	}

	div.prawa{
		width: 100%;
		background-color: $tloStandardDivTermin; //standardowy kolor, gdy nie wybrano lokalizacji wydarzenia

		@include MQ(md){
			width: $prawa-width;
			float: right;
		}
	}

	div.termin{
		//Część "kolorowa" wydarzenia - zawierająca informację na temat terminu - czyli kiedy i gdzie - kolor jest nadawany w HTML na podstawie koloru lokalizacji wydarzenia

		color: $kolorNakladany;

		@include MQ(md){
			width: 2 * $wydarzenie-termin-dzien-width;
			float: right;
		}

		span.dzien{
			border: 1px solid green;
		}
	}

	img.thumb{
		width: $wydarzenie-thumb-width; 
		height: $wydarzenie-thumb-height;
	}

	div.termin-dzien, div.termin-godz{
		@include MQ(md){
			width: $wydarzenie-termin-dzien-width;
			height: $wydarzenie-termin-dzien-height;
			float: left;
		}
	}

	div.termin-lokalizacja{
		@include MQ(md){
			width: 2 * $wydarzenie-termin-dzien-width;
			height: $wydarzenie-height - $wydarzenie-termin-dzien-height;
			float: right;
		}
	}

	a.czytajWiecej{
		// position:absolute;
		// display:block;
		// width: 100%;
		// height: 100%;
		 border: 1px solid green;
	}

	div.TEST{
		// display:block;
		// border: 1px solid blue;
		// background-color: yellow;
	}



}

/*================koniec WYDARZENIA==================================*/

