@charset "UTF-8";
/*Plik styl├│w wczytywany po bootstrapowym - Wczytywany po bootstrap.css*/
/* line 13, ../../sass/style_cs.scss */
body {
  font-family: 'Magra', sans-serif;
  font-weight: 400;
  /*also loaded 700 for bold*/
  font-size: 1.7em;
  /*zwi─Ökszenie czcionki*/
  color: #333;
}

/* line 20, ../../sass/style_cs.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

/*================MEDIA QUERIES za pomoc─ů sass==================================*/
/*================koniec MEDIA QUERIES za pomoc─ů sass===========================*/
/*================WYDARZENIA==================================*/
/* line 66, ../../sass/style_cs.scss */
.wyrozniki {
  margin: 5em 0 5em 0;
  text-align: center;
}

/* line 73, ../../sass/style_cs.scss */
.carousel-inner img {
  margin: auto;
}

/* line 78, ../../sass/style_cs.scss */
article.wydarzenie {
  overflow: hidden;
  *zoom: 1;
  background-color: #eee;
  background-color: black;
  /*@include MQ(xs){
  	background-color: blue;
  }*/
  /*@include MQ(md){
  	background-color: green;
  }*/
  	/*div.termin-dzien, div.termin-godz{
  		width: 50%;
  		float: left;
  	}
  */
}
@media only screen and (min-width: 768px) {
  /* line 78, ../../sass/style_cs.scss */
  article.wydarzenie {
    background-color: red;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 78, ../../sass/style_cs.scss */
  article.wydarzenie {
    background-color: yellow;
  }
}
/* line 104, ../../sass/style_cs.scss */
article.wydarzenie div.termin {
  color: #fff;
}
/* line 109, ../../sass/style_cs.scss */
article.wydarzenie div.termin span.dzien {
  border: 1px solid green;
}

/*================koniec WYDARZENIA==================================*/
