@charset "utf-8";
/* Styl motywu Centrum-sztuki dla telefonów - domyślny */

/*Podstawowy pomarańczowy - FF9933 = rgba(255, 153, 51, 1)*/
/*Ciemniejszy pomarańczowy - EE4724*/
/*Ciemnoszary kolor nagłówka - #333333;*/
/*Jaśniejszy szary - kolor tła podmenu głównego - #666;*/

/*----------- apply a natural box layout model to all elements --------------*/
* {box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;  }

/*-----Prevents iPhone from resizing in landscape mode -----*/
html {-webkit-text-size-adjust: none; }

/*-------------------------------------------------------------------------------------*/
body{
	font-family: 'Magra', sans-serif;
	font-weight:400;	/*also loaded 700 for bold*/
	color: #333;
}

a{
	color: #EE4724;
}

	/*----NAGŁÓWEK STRONY---*/
	div#header-wrap{
		background-color:#333333;
		width:100%;
		z-index: 10;
		border-top: 4px solid #FF9933;
	}
	
	/*----NAWIGACJA---*/
	div#nav-wrap{
		background-color:#FF9933;
		background: -webkit-linear-gradient(#FF9933, #CC3333); /* For Safari 5.1 to 6.0 */
  		background: -o-linear-gradient(#FF9933, #CC3333); /* For Opera 11.1 to 12.0 */
  		background: -moz-linear-gradient(#FF9933, #CC3333); /* For Firefox 3.6 to 15 */
  		background: linear-gradient(#FF9933, #CC3333); /* Standard syntax */
		width:100%;
	}
	
	/*----STOPKA---*/
	div#footer-wrap{
		background-color:#B3B3B3;
		color: #333333;
		width:100%;
	}
	
	
	/*----NAWIGACJA - menu dolne --*/
	nav ul#menu-dolne li a{
		text-decoration:none;
		color: #333333;
		display:block;
	}
	
	nav ul#menu-dolne li:hover{
		background-color: #FF9933;
	}

	/*----- LISTA WYDARZEŃ -----*/
	article.wydarzenie h1 a{
		text-decoration:none;
		color: #333333;
		font-weight: 700;
		font-size: 110%;
		display:block;
	}



table.tabela_kursow td{
	background-color:#999;
	border:thick;
}
	

/* ----- OTHER STUFF ----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*Style scalone przy łączeniu 0.3.3 i 0.3.3.2 do 0.3.4*/
/*----------------------------------------------------------------------------*/
/*jQuery UI - klasa ukrywająca przycisk zamykania okna*/
.no-close .ui-dialog-titlebar-close {
  display: none;
}

/*-------------Importowanie projekcji (import-projekcji.php)------------------*/
/*styl oznaczający rubrykę tabeli w której znaleziono błąd*/

/*klasy tabeli #filmy*/
#filmy td.bladDanych{
	background: rgba(168, 0, 0, 0.4);
}

#filmy tr.zablokowane{
	background-color: #CCCCCC;
}

/*klasy tabeli #dodajProjekcje*/

/*wiersz w tabeli, jeśli jest to projekcja zapisana już na www*/
#dodajProjekcje th{
	background-color: #999;
	color: #FFF;
}

#dodajProjekcje tr.naglowekDnia{
	background-color: #333;
	color: #FFF;
}

/*wiersz w tabeli, jeśli jest to projekcja zapisana już na www*/
#dodajProjekcje tr.zapisane{
	background-color: rgba(0,0,0,0.05);
	color: #777;
}

/*wiersz w tabeli, jeśli wpisano dane - poprzez przypisanie filmu*/
#dodajProjekcje tr.wypelnione, span.wypelnione{
	background-color: rgba(63,128,0,0.2);
}

/*wiersz w tabeli, jeśli zmieniono w niej status publikacji*/
#dodajProjekcje tr.zmienionaProjekcja, span.zmienionaProjekcja{
	background-color: rgba(160,0,255,0.2);
}

/*wiersz w tabeli, jeśli jest zaznaczony (za pomocą checkbox)*/
#dodajProjekcje tr.zaznaczone{
	background-color: rgba(255,255,0,0.2);
}

#dodajProjekcje input{
	border: none;
}
/*-------------0.3.3.2------------------*/

/*-------------Archiwum wydarzeń - wydarzenia-archiwum.php------------------*/

div.termin-archiwum{
	/*kolor paska terminu przy wydarzeniu archiwalnym*/
	background-color: #666666 !important;
}

div.wydarzenie-kategorie a.kategoria-archiwum{
/*połączyć z div.wydarzenie-kategorie a{*/
	/*kolor etykiet kategorii przy wydarzeniu archiwalnym*/
	background-color: #666666;
}

/*-------------Pasek boczny dla wydarzeń archiwalnych - wydarzenia_single.php------------------*/
div.termin-single-archiwum{
	background-color: #666666 !important;

}

h2.wydarzenie_archiwalne{
/*na podstawie div.termin-single a.kup-bilet*/
	display:block;
		color: #FFF;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-right:auto;
		margin-left:auto;
		width: 200px; /*RESPONSIVE-WIDTH - nie zrobiona wersja responsive*/
		text-align:center;
		text-decoration:none;
		background-color: #FF9933;
		font-size: 2em;
		border: 2px solid #FFF;
		padding: 5px 0;
		border-radius: 10px;

}

/*-------------Styl dla paginacji dodwanej w pods------------------*/
span.pods-pagination-advanced{
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2m;
	padding-bottom: 2em;
	font-size: 1.1em;

}

span.pods-pagination-advanced a{
	padding: 0.3em;
}
